<div class="movie-details">
    <h3>Details</h3>
    <div class="details">
        <div class="media">
            <img src="https://media.timeout.com/images/105863223/image.jpg" alt="star wars image">
        </div>
        <div class="info">
            <h4>Star Wars</h4>
            <h5>Steven Speelberg <span>2005</span></h5>
            <p>Fantasy</p>
            <p>As a new threat to the galaxy rises, Rey, a desert scavenger, and Finn, an ex-stormtrooper, must join Han Solo and Chewbacca to search for the one hope of restoring peace.</p>
            <div class="buttons">
                <button>Edit</button>
                <button>Delete</button>
            </div>
        </div>
    </div>

    <div class="comments">
        <form>
            <label for="comment">What is on your mind?</label>
            <textarea name="comment" id="comment" placeholder="Add your comment here..."></textarea>
            <input type="submit" value="Add comment">
        </form>
        <h4>Comments</h4>
        <div class="comment-list">
            <ul>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie I like this movie I like this movie I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie I like this movie I like this movie I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie I like this movie I like this movie I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Boris</h5>
                        <p>Posted on: 07.07.2023 17:35</p>
                    </div>
                    <p>I like this movie</p>
                </li>
            </ul>
        </div>
    </div>
</div>
